version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/infra/git/demo-github-app"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    commit-message:
      prefix: chore
      include: scope
